<div id="header-details">
    <div id="imagenlogo">
      <img src="/images/logosinfondo.png">
    </div>
    <div id="texto2-detail">
      <h2 id="h1index-detail">WANTED BY THE FBI</h2>
    </div>
  </div>
<div class="container-follow-details">
    <div class="tarjeta">
        <h1>{{wanted.title}}</h1>
        <p>{{wanted.description}}</p>
        <div id="follow-imagen">
        <img src="{{wanted.image}}">
        <h2>description</h2>
        </div>
    </div>
    <div class="container-follow-details-description">
 <table class="tg">
<thead>
  <tr>
    <th class="tg-0lax">Aliases</th>
    <th class="tg-0lax">{{wanted.aliases}}</th>
    <th class="tg-0lax">Occupations</th>
    <th class="tg-0lax">{{wanted.occupations}}</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">Date(s) of Birth Used:</td>
    <td class="tg-0lax">{{wanted.dates_of_birth_used}}</td>
    <td class="tg-0lax">Hair</td>
    <td class="tg-0lax">{{wanted.hair}}</td>
  </tr>
  <tr>
    <td class="tg-0lax">Nationality</td>
    <td class="tg-0lax">{{wanted.nationality}}</td>
    <td class="tg-0lax">Subject</td>
    <td class="tg-0lax">{{wanted.subject}}</td>
  </tr>
  <tr>
    <td class="tg-0lax">Weight:</td>
    <td class="tg-0lax">{{wanted.weight}}</td>
    <td class="tg-0lax">Field Offices</td>
    <td class="tg-0lax">{{wanted.field_offices}}</td>
  </tr>
  <tr>
    <td class="tg-0lax">Heigth</td>
    <td class="tg-0lax">{{wanted.heigth}}</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"></td>
  </tr>
</tbody>
</table>
    </div>
    <div class="container-follow-details-abajo">
      
    </div>
</div>









{{!-- 
<div id="general">
<div id="tablecontainer">
    <table id="tabla">
        <thead>
            <tr>
             <th>
                
                    Title-
            
            </th>
             <th>
               
                    Aliases-
                
            </th>
             <th>
                
                    Description-
               
            </th>
             <th>
                
                   Dates_of_birth_used-
                
            </th>
             <th>
                
                    Hair--
                
            </th>
             <th>
                
                    weight--
                
            </th>
             <th>
              
                    Heigth--
                
            </th>
             <th>
                
                    Occupations--
                
            </th>
             <th>
                
                    Remarks--abajo
                
            </th>
             <th>
               
                    Nationality--
               
            </th>
             <th>
                
                    Subject--
                
            </th>
             <th>
               
                    Reward_text--abajo
                
            </th>
            <th>
                
                    Field Offices-
                
            </th>
            </tr>
            
        </thead>
      

          

               


                <td>
                    {{wanted.remarks}}--abajpo
                </td>

               

                <td>
                    {{wanted.reward_text}}
                </td>

            
         
</tbody>
    </table>
    <div id="tablaimagen">
    <img src="{{wanted.image}}">
</div>
</div> 
remarks caution reward and detail van abajo.
</div> --}}