<div id="header-details">
    <div id="imagenlogo">
      <img src="/images/logosinfondo.png">
    </div>
    <div id="texto2-detail">
      <h2 id="h1index-detail">WANTED BY THE FBI</h2>
    </div>
  </div>
<div class="container-follow-details">
    <div class="tarjeta">
        <h1>{{wanted.title}}</h1>
        <p>{{wanted.description}}</p>
        <div id="follow-imagen">
        <img src="{{wanted.image}}">
        <h2>description</h2>
        </div>
    </div>
    <div class="container-follow-details-description">
    
   <div class="content">
 <table class="tg">
<thead>
  <tr>
    <th class="tg-0lax"contenteditable='true'>Aliases</th>
    <th class="tg-0lax"contenteditable='true'>{{wanted.aliases}}</th>
    <th class="tg-0lax"contenteditable='true'>Occupations</th>
    <th class="tg-0lax"contenteditable='true'>{{wanted.occupations}}</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax"contenteditable='true'>Date(s) of Birth Used:</td>
    <td class="tg-0lax"contenteditable='true'>{{wanted.dates_of_birth_used}}</td>
    <td class="tg-0lax"contenteditable='true'>Hair</td>
    <td class="tg-0lax"contenteditable='true'>{{wanted.hair}}</td>
  </tr>
  <tr>
    <td class="tg-0lax" contenteditable='true'>Nationality</td>
    <td class="tg-0lax" contenteditable='true'>{{wanted.nationality}}</td>
    <td class="tg-0lax" contenteditable='true'>Subject</td>
    <td class="tg-0lax" contenteditable='true'>{{wanted.subject}}</td>
  </tr>
  <tr>
    <td class="tg-0lax" contenteditable='true'>Weight:</td>
    <td class="tg-0lax"contenteditable='true'>{{wanted.weight}}</td>
    <td class="tg-0lax"contenteditable='true'>Field Offices</td>
    <td class="tg-0lax"contenteditable='true'>{{wanted.field_offices}}</td>
  </tr>
  <tr>
    <td class="tg-0lax"contenteditable='true'>Height</td>
    <td class="tg-0lax"contenteditable='true'>{{wanted.height}}</td>
    <td class="tg-0lax"contenteditable='true'></td>
    <td class="tg-0lax"contenteditable='true'></td>
  </tr>
</tbody>
</table>

</div>
  </div>
  <div class="container-follow-details-abajo">
      <div id="container-follow-details-abajo-1">
      {{#if wanted.reward_text}}
      <h3>Reward</h3>
      <h4>{{{wanted.reward_text}}}</h4>
       {{/if}}
      {{#if wanted.remarks}}
      <h3>Remarks</h3>
      <h4>{{{wanted.remarks}}}</h4>
      {{/if}}
    </div>
    <div id="container-follow-details-abajo-2">
       {{#if wanted.caution}}
      <h3>Caution</h3>
      <h4>{{{wanted.caution}}}</h4>
       {{/if}}
      {{#if wanted.details}}
      <h3>Remarks</h3>
      <h4>{{{wanted.details}}}</h4>
      {{/if}}
    </div>
    <h3>Add New Information</h3>
  <div id="input-form-div">
<form action="/follow-details/{{wanted._id}}"  method="post">

 <label for="aliases">Aliases:</label>
<input type="text" name="aliases" value="{{wanted.aliases}}">

 <label for="occupations">Occupations:</label>
<input type="text" name="occupations" value="{{wanted.occupations}}">

 <label for="Date(s) of Birth Used:">Date(s) of Birth Used:</label>
<input type="text" name="Date(s) of Birth Used:" value="{{wanted.dates_of_birth_used}}">

 <label for="hair">Hair:</label>
<input type="text" name="hair" value="{{wanted.hair}}">

 <label for="nationality">nationality:</label>
<input type="text" name="nationality" value="{{wanted.nationality}}">

 <label for="subject">subject:</label>
<input type="text" name="subject" value="{{wanted.subject}}">

 <label for="weight">weight:</label>
<input type="text" name="weight" value="{{wanted.weight}}">

 <label for="field_offices">field_offices:</label>
<input type="text" name="field_offices" value="{{wanted.field_offices}}">

 <label for="height">height:</label>
<input type="text" name="height">

<button type="submit" id="edit_content1" class="btn btn-primary btn-large cambios">Save Changes</button>

</form>

</div>
</div>









