
  <div id="header">
    <div id="imagenlogo">
      <img src="/images/logo2.jpg">
    </div>
    <div id="texto">
      <h1 style="color:white">FBI</h1>
    </div>
    <div id="texto2">
      <h2 id="h1index" style="color:white">Most Wanted Criminals</h2>
    </div>
  </div>

<div id="wantedcontainer">
  



           {{#each Wanted}}
          <div class="card-body">
             
            <h5 class="card-title">{{title}}</h5>
            
            <img src="{{images.0.large}}" class="card-img-top img-thumbnail" alt="...">
            
            <p class="card-text">{{description}}</p>
            
           <form action = "/add-favorite" method="POST">
          
          <input type="hidden" name="title" value='{{title}}'>
          <input type="hidden" name="uid" value='{{uid}}'>
          <input type="hidden" name="aliases" value='{{aliases}}'>
          <input type="hidden" name="description" value='{{description}}'>
          <input type="hidden" name="dates_of_birth_used" value='{{dates_of_birth_used}}'>
          <input type="hidden" name="hair" value='{{hair}}'>
          <input type="hidden" name="weight" value='{{weight}}'>
          <input type="hidden" name="heigth" value='{{height}}'>
          <input type="hidden" name="occupations" value='{{occupations}}'>
          <input type="hidden" name="remarks" value='{{remarks}}'>
          <input type="hidden" name="nationality" value='{{nationality}}'>
          <input type="hidden" name="subject" value='{{subject}}'>
          <input type="hidden" name="reward_text" value='{{reward_text}}'>
          <input type="hidden" name="field_offices" value='{{field_offices}}'>
          <input type="hidden" name="image" value='{{images.0.large}}'>
          <input type="hidden" name="details" value='{{details}}'>
          <input type="hidden" name="caution" value='{{caution}}'>
         

          <button type="submit" class="btn btn-primary btn-large">Add to Follow</button>
           </form>
          </div>
        {{/each}}
        </div>
      










    

