
  <div id="header">
    <div id="imagenlogo">
      <img src="/images/logo2.jpg">
    </div>
    <div id="texto">
      <h1 style="color:white">FBI</h1>
    </div>
    <div id="texto2">
      <h2 id="h1index" style="color:white">Most Wanted Criminals</h2>
    </div>
  </div>

<div id="wantedcontainer">
  
 {{!--  <div class="card" style="width: 18rem;">
    {{#each Wanted}}
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <form action = "/add-favorite" method="POST"></form>
      <button type="submit">Añadir a favoritos</button>
    </form>
  </div>
  {{/each}}
</div>
</div> --}}


           {{#each Wanted}}
          <div class="card-body">
             
            <h5 class="card-title">{{title}}</h5>
            
            <img src="{{images.0.large}}" class="card-img-top img-thumbnail" alt="...">
            
            <p class="card-text">{{description}}</p>
           <form action = "/add-favorite" method="POST">
          
          <input type="hidden" name="name" value={{name}}>
          <input type="hidden" name="status" value={{status}}>
          <input type="hidden" name="species" value={{species}}>
          <input type="hidden" name="gender" value={{gender}}>
          <input type="hidden" name="image" value={{image}}>
          <input type="hidden" name="apiId" value={{id}}>

          <button type="submit" class="btn btn-primary btn-large">Añadir a favoritos</button>
          </div>
        {{/each}}
        </div>
      </div>
</div> 


{{!-- 
mi tarjeta --}}







    

